/*quiz_marker*/

.calc-display {
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
	background: antiquewhite;
    z-index: 10000;
}
.calcbox {
	position: absolute;
    top: 4.3rem;
    left: 50%;
    width: 100%; 
    z-index: 10000;
    transform: translate(-50%, 0%);
	max-width: 780px;
    border: 0.3rem solid #0000001a;
    border-radius: 0;
    overflow: hidden;
    box-shadow: 0 3px 3px 0 #00000054;
}
.stepbox {
    display: grid;
	position: relative;
	background: white;
	padding: 2rem 0 2rem 0;
    overflow: hidden;
}

.stepbox-close {
	width: 2rem;
    height: 2rem;
    cursor: pointer;
	position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 1;
}
.stepbox-close > div {
	background-color: #d10000;
    top: 15px;
    height: 3px;
    width: 100%;
    border-radius: 1px;
    position: absolute;
}
.stepbox-close > div.one {
    transform: rotate(45deg);
}
.stepbox-close > div.two {
    transform: rotate(-45deg);
}
.quiz-head-steap {
	display: block;
    padding: 10px 5px 20px 5px;
    margin: 0;
    font-weight: 400;
	color:black;
    font-size: 1.7rem;
    text-align: center;
}
.step-number {
	padding:5px 7px 5px 7px;
    background: #e3e3e3;
    font-weight: 400;
	color:black;
    text-align: center;
}
.step-description {
	padding: 10px 15px 10px 15px;
	color:black;
    font-size: 1rem;
    text-align:left;
}
.step-radio {
    display: grid;
    row-gap: 1.2rem;
	padding: 7px 15px 7px 15px;
}


.step-back-forth {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	padding: 20px 10px 20px 10px;
}
[data-quiz-step="0"] .step-back-forth :first-child {
	height: 0;
    padding: 0;
}
.step-back-forth > div {
	cursor: pointer;
    text-align: center;
    padding: 1rem 0;
    background: #68be05;
    color: white;
    display: block;
    user-select: none;
	border-radius: 5px;
    transition: color .15s linear, background-color .15s linear;
    font-size: 0.90rem;
    text-decoration: none;
}
.step-back-forth > div:hover  {
	background: #5ba309;
}

.step-back-forth .back a  {
	text-align: center;
    padding: 1rem 0;
    background: #e7e7e7;
    color: black;
    display: block;
	border-radius: 5px;
    transition: color .15s linear, background-color .15s linear;
    font-size: 0.90rem;
    text-decoration: none;
}
.step-back-forth .back a:hover  {
	background: #e0f0f2;
}
.step-back-forth .back a:focus  {
    box-shadow: 0 0 0 0.2rem #c47cffa3;
}


/* Rado Input */
.checkbox, .radio {
	cursor: pointer;
	position: relative;
	color: #0b2244;
}
.step-radio > label {
	cursor: pointer;
    line-height: 1.1em;
    font-size: 1rem;
    color: #000000;
    user-select: none;
}
.step-radio > label:hover {
	color: #003ce0;
}

/* Rado Dinanic */
.step-radio > label > input[type="radio"] {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    border-radius: 50%;
    width: 0.73rem;
    height: 0.73rem;
    background-color: #383433;
    transform: translate(0, 0);
    appearance: none;
}
.step-radio > label > input:checked {
    background-color: #ff4e00;
    border-color: #ff4e00;
    box-shadow: 0 0 0 0.25rem #ff4e0040;
}
/* Rado Dinanic End */

/* Check Politic */
.interform > label {
    cursor: pointer;
    line-height: 1.7;
    display: flex;
    column-gap: 0.7rem;
  	user-select: none;
}
.interform > label > input[type="checkbox"] {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 0.25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    appearance: none;
    border: 2px solid;
    background-color: #ffffff;
    border-color: #9d9d9d;
}
.interform > label > input:checked {
    background-color: #68be05;
    border-color: #68be05;
    background-image: var(--check-icon);
}
.interform > label > input:focus {
    box-shadow: 0 0 0 0.2rem #007bff40;
}

/* Check Politic End */

.quiz-noscroll {
    overflow: hidden;
}

.quiz-hidden, .quiz-page-hidden {
    display: none;
}

@media (min-width: 414px) {

	.quiz-head-steap {
		padding: 10px 5px 20px 5px;
		font-size: 1.7rem; 
	}
	.step-number {
		padding:5px 5px 5px 5px;
	}
	.step-description {
		padding: 20px 30px 10px 30px;
	}
	.step-description p {
		font-size: 1rem;
	}
	.step-radio {
		padding: 20px 30px 40px 30px;
	}
	.step-back-forth {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
		padding: 20px 10px 20px 10px;
	}
	.step-back-forth .step a  {
		padding: 1rem 0;
		border-radius: 5px;
		font-size: 1rem;
	}
	.step-back-forth .back a  {
		padding: 1rem 0;
		border-radius: 5px;
		font-size: 1rem;
    }
    
    .stepbox-close {
        right: 0.5rem; top: 0.5rem;
    }
}

.interform {
    display: grid;
    row-gap: 0.3rem;
    padding: 1rem;
}
.interform > .formtext {
    color: #222222;
    font-size: 1rem;
    line-height: 1em;
}

.interform > input {
    background: #ffffff;
    border: 2px solid #9d9d9d;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #111111;
    padding: 0 8px;
    line-height: 2.4;
    min-height: 30px;
    width: 100%;
    margin-bottom: 0.5rem;
}
.interform > input:focus {
    border: 2px solid #9d9d9d;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    outline: none;
}

.step-back-end {
    padding: 20px 10px 20px 10px;
}
.step-back-end a  {
    text-align: center;
    padding: 1rem 0;
    background: #68be05;
    color: white;
    display: block;
    border-radius: 5px;
    transition: color .15s linear, background-color .15s linear;
    font-size: 1rem;
    text-decoration: none;
}
.step-back-end a:hover  {
    background: #529407;
}
.step-back-end a:focus  {
    box-shadow: 0 0 0 0.2rem #c47cffa3;
}
.step-description-end p {
    text-align:center;
}
.interform > textarea {
    color: #111111;
    line-height: 1rem;
    padding: 0.25rem 0.5rem;
}
[data-quiz-form-bar] {
    width: 0;
    overflow: hidden;
}
.progress[data-quiz-form-bar] {
    width: auto;
}


:root {
    --check-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.quiz-upload-bar {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    justify-content: start;
}

.quiz-upload-bar input {
    line-height: 36px;
}

.quiz-loading-spinner {
    animation: quiz-loading-spinner 1s linear infinite;
}
  
@keyframes quiz-loading-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* New CSS Load Files */
.quiz-loader {
    display: grid;
    row-gap: 1rem;
    margin-bottom: 1rem;
}
.quiz-loader .loader-docs {
    padding: 0.7rem;
    position: relative;
    background-color: #989cae;
    border-radius: 0.3rem;
    box-shadow: 0 3px 7px 0 #0000001a;
}
.quiz-loader .load-field {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 7rem;
    padding: 1rem 0;
    border-style: dashed;
    border-color: #00faff;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: 0.3s;
    background-color: #717587;
}
.quiz-loader .load-field.hover-drop {
    border-color: #46ff00;
    background-color: #15907e;
}
.quiz-loader .load-field input {
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 7;
}
.quiz-loader .load-field .load-panel {
    display: grid;
    row-gap: 1rem;
    position: relative;
    z-index: 3;
}
.quiz-loader .load-field .load-panel .btn {
    background: #ffffff;
    z-index: 0;
    width: fit-content;
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    color: #717587;
}
.quiz-loader .load-field .load-panel .loadinfo {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 33rem;
    color: #ffffff;
    text-align: center;
    z-index: 0;
}
.quiz-loader .load-field .load-progress {
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.3rem;
    background-color: #00ab70;
    z-index: 0;
}
.quiz-loader .flist {
    display: grid;
    row-gap: 0.3rem;
}
.quiz_file {
    display: grid;
    grid-template-columns: 1fr 2.4rem;
    column-gap: 1rem;
    font-weight: 600;
    background-color: #edfff3;
    border-radius: 0.3rem;
    border: 1px solid #cccccc;
    position: relative;
    overflow: hidden;
}
.quiz_file .file-name {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: #000000;
}
.quiz_file .file-del {
    background-color: #e01f27;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 33%;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 88.17 88.17'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:15px;%7D%3C/style%3E%3C/defs%3E%3Cline class='a' x1='7.5' y1='7.5' x2='80.67' y2='80.67'/%3E%3Cline class='a' x1='80.67' y1='7.5' x2='7.5' y2='80.67'/%3E%3C/svg%3E");
}
.quiz_file .file-del:hover {
    background-color: #ff0000;
}